.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;

    .h2s{
        margin-top: 12px;
    }

    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}